In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
vine_df = pd.read_csv('vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RDIJS7QYB6XNR,5.0,0.0,0.0,N,Y
1,R36ED1U38IELG8,5.0,0.0,0.0,N,Y
2,R1UE3RPRGCOLD,2.0,1.0,1.0,N,Y
3,R298788GS6I901,5.0,0.0,0.0,N,Y
4,RNX4EXOBBPN5,1.0,1.0,1.0,N,Y

In [26]:
# Create a DataFrame for total_votes equal or greater than 20
total_votes_vine_df = vine_df[vine_df['total_votes'] >=20]
total_votes_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N

In [27]:
# Retrieve rows where helpful_votes divided by total_votes is equal or greater than 50%
filtered_vine_df = total_votes_vine_df.loc[total_votes_vine_df.helpful_votes / total_votes_vine_df.total_votes >=.5]
filtered_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N

In [28]:
# Retrieve all rows where a review was written as part of the Vine program (paid)
paid_vine_reviews_df = filtered_vine_df[filtered_vine_df['vine'] == 'Y']
paid_vine_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N
926,R2JM687C525WR9,3.0,33.0,33.0,Y,N
7569,RUB4AUWGHG16G,4.0,25.0,27.0,Y,N
20672,R1S3IDYJUA6V2G,5.0,28.0,32.0,Y,N

In [29]:
# Reviews not part of the Vine program
unpaid_vine_reviews_df = filtered_vine_df[filtered_vine_df['vine'] == 'N']
unpaid_vine_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
1176,R2LWX4TZ67FWPT,4.0,50.0,50.0,N,N
1515,R29IYHPYD14AGI,3.0,84.0,84.0,N,Y

In [40]:
# Total Paid Reviews
total_paid_reviews = paid_vine_reviews_df["review_id"].count()
total_paid_reviews

1266

In [41]:
# Total Unpaid Reviews
total_unpaid_reviews = unpaid_vine_reviews_df["review_id"].count()
total_unpaid_reviews

62028

In [38]:
# Total number of paid 5 star reviews
Paid_5Star = np.sum(paid_vine_reviews_df["star_rating"] == 5)
Paid_5Star

432

In [39]:
# Total number of unpaid 5 star reviews
Unpaid_5Star = np.sum(unpaid_vine_reviews_df["star_rating"] == 5)
Unpaid_5Star

29982

In [43]:
# Percent of Paid 5-Star Reviews
Paid_percent = (Paid_5Star / total_paid_reviews) * 100
Paid_percent

34.12322274881517

In [44]:
# Percent of Unpaid 5-Star Reviews
Unpaid_percent = (Unpaid_5Star / total_unpaid_reviews) * 100
Unpaid_percent

48.33623524859741